<h1>All the pretty pictures</h1>
<% @images.each do |image| %>
<ul>
<%= image_tag image.address %>
<p> Image title: <%= image.title %></p>
<%= link_to "Delete", admin_image_path(image), method: :delete %>

<% end %>

<%= link_to "New image", new_admin_image_path %>
